/** Mobile first - Reference: iPhone 5 */

body
  font-size 16px
  font-family 'Open Sans', Helvetica, Arial, sans-serif
  color font_color_default
a
  text-decoration none
  color orange
ul
  list-style none
  margin 0
  padding 0
.centered
  position relative
  margin 0 auto
.button
  padding 10px 15px
  text-decoration none
  color font_color_default
  border 1px solid font_color_default
.truncate
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.center
  text-align center

header
  &.main figure
    text-align center
    padding 20px 0
    img
      max-width logo_width
  p.description
    text-transform uppercase
    font-size .7em
    margin-top 0
ul.gallery-separator
  text-align center
  height image_size
  overflow hidden
  li
    display inline
    img
      width image_size
      height image_size
p.members
  text-transform uppercase
  text-align center
  a
    font-weight bold
    color inherit
  .join-us
    border none
    background-color orange
    display inline-block
    color white
    font-weight bold
section.events
  padding 20px
  text-align center
  h2
    font-size 1.3em
    text-shadow 2px 2px 0px free_slot_color
    margin-bottom 30px
article.slot > a
  color inherit
.slot
  background-color #f7f7f7
  border-width 5px
  border-style solid
  border-color free_slot_color
  width 100%
  max-width 280px
  height 270px
  margin-bottom 20px
  box-sizing border-box
  padding 20px
  display inline-block
  vertical-align top
  overflow hidden
  h3
    margin-top 0
    text-transform uppercase
    width 230px
    height 25px
  p
    text-align left
  &.free
    border-style dashed
  .bubble
    padding 7px 15px
    background-color orange
    border-radius 20px
    color white
  .scroll
    overflow-y auto
    height 140px
    margin-top 15px
    font-size .8em
.people
  padding 20px
  margin 20px 0
.person
  border-top 3px solid free_slot_color
  margin-bottom 20px
  overflow hidden
  height 100px
  a
    color inherit
  p, small
    margin 0
    text-align right
    display block
    &.bio
      display none
  img
    float left
    width 100px
footer
  border-top 1px solid font_color_default
  padding 20px
  .section
    height auto
    box-sizing border-box
    display inline-block
    vertical-align top
    padding 20px
    width 100%

  & > small
    display block
    width 100%
    margin-top 30px
    text-align center
