doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width', user-scalable='no')
    meta(name='keywords', content=keywords)
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/mallorcajs.min.js')